:root {
    --transition: all 0.6s ease;
    --black:#000; 
    --white:#fff;
    --lightgrey: #f9f9f9;
    --midgrey:  #dbdbdb;
    --blue:#87ceeb;
    --green: rgb(72,225,12);
    --dkGrey: #333;
  }

  /*universalSelector*/
  body {
    margin: 0;
    padding: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-size: cover;
  }
  
  html {
    scroll-behavior: smooth;
  }

  
  ::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px var(--midgrey);
    border-radius: 15px;
    background-color: var(--blue);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--green);
    border-radius: 15px;
    box-shadow: inset 0 0 3px var(--midgrey);
  }

  a {
      text-decoration: none;
  }

/*Header*/
  header {
    text-align: center;
    margin: 2% 15% auto 15%;
    background-color: var(--lightgrey);
    background-size: cover;
    padding: 2%;
    border-radius: 20px 5px 3px 5px;
    height: 200px;
    opacity: 90%;
    box-shadow: 5px;   
  }

  header h1 {
    margin-top: 2%;
    font-size: 40px;
    color: var(--dkGrey);
  }

  /*body*/
  .card {
      height: 400px;
      width: 15%;
      margin: 2% 5% auto 5%;;
      background-color: var(--white);
      background-size: cover;
      padding: 1%;
      border-radius: 5px;
      box-shadow: 5px;
      height: 150px;
      position:absolute;
  }
  .container {
    border-radius: 20px 5px 3px 5px;
    height: 400px;
    opacity: 90%;
    box-shadow: 5px;
    background-color: var(--lightgrey);   
    margin: .2% 15% auto 15%;
  }

  .id {
      position:absolute;
      margin-left: 50%;
      margin-right: auto;
      color: var(--green);
  }

  .cardBody {
    border-radius: 5px;
    height: 50px;
    background-color: var(--dkGrey);
    color: var(--white);
    padding: 2%;
    margin-bottom: 2%;
  }


@media (max-width: 1500px) {#viewButton, #bookButton, #homeButton, #submitButton {
    display: block !important;
    position: relative !important;
  }
}

@media (max-width: 1500px) {.container {
    height: fit-content;
}
}

